.kn-searchArea {
	position: fixed;
    top: 10px;
    left: 10px;
    padding: 1rem;
    z-index: 2;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.kn-searchArea__logo {
	width: 100%;
	text-align: center;
	font-size: 3rem;
}

.kn-searchArea__form {
	margin: auto;
}

.kn-searchArea__text {
	margin: 0.5rem 0.5rem 0 0;
	width: 75%;
}

.kn-searchArea__textSize {
	font-size: 0.8rem;
	cursor : pointer;
}

.kn-searchArea__button {
	margin: 0.5rem 0 0 0;
}

.kn-detailInfoArea {
	display: none;
	position: fixed;
    top: 10px;
    right: 10px;
    padding: 3px;
    z-index: 3;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.kn-detailInfoArea__label {
	margin: 0.5rem 0.5rem 0 0.5rem;
	width: 80%;
	text-align: left;
	float: left;
	font-size: 1.2rem;
	color: #666666;
}

.kn-detailInfoArea__closeButton {
	float: right;
	margin: 0.5rem 0.5rem 0 0.5rem;
}

.kn-detailInfoArea__img {
	width: 30%;
	height: auto;
	float: left;
}

.kn-detailInfoArea__context {
	margin: 0.5rem;
	clear: both;
}

.kn-detailInfoArea__title {
	font-size: 1rem;
	float: right;
	width: 70%;
	padding: 0 0 0 0.5rem;
}

.kn-detailInfoArea__table {
	font-size: 0.7rem;
	clear: both;
	padding: 1rem 0 0 0;
}

.kn-detailInfoArea__th {
	width: 30%;
	text-align: center;
	border-top: 1px solid #d6dfe5;
	padding: 0.5rem;
}

.kn-detailInfoArea__td {
	width: 70%;
	border-top: 1px solid #d6dfe5;
	padding: 0.5rem;
}

.kn-backButtonArea {
	position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 4;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.kn-backButtonArea__button {
    border-color: white;
    font-size: 0.5rem;
}

.kn-node {
	cursor : pointer;
}

.kn-node__center {
	pointer-events : none;
}